
.icon-chart-bar:before { content: '\e800'; } /* '' */
.icon-pi-outline:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */